:root{
    --cor-texto-primario    :   #D4C5A9;
    --cor-texto-secundario  :   #beb49e;
    --cor-principal-fundo   :   rgb(5, 6, 17);
    --cor-principal-texto-destaque    :   #c4a830;
    --cor-secundaria-texto-destaque   :   #a58e26;
    --cor-principal-borda   :   #e6bc03;
    --cor-secundaria-fundo  :   rgb(7, 1, 20);
    --cor-card-backgroud   :   rgb(13, 4, 29);

    --fonte-principal-texto-destaque  :     'Cinzel', serif;
    --fonte-principal-texto           :     'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --cor-borda-lucas       :   ;
    --cor-borda-henry       :   ;
    --cor-borda-gustavo     :   ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0c0d14f1;
    color: var(--cor-texto-primario);
    font-family: var(--fonte-principal-texto);
    margin: 0;
    padding: 0;
}

.m-nav-itens{
    margin-left: 30px;
    margin-right: 30px;
}

.nav-logo{
    height: 40px;
    width: 120px;
    margin: 0;
}

#inicio{
    position: relative;
    z-index: 0;
    background-image: url('./Assets/img/backgroudPaginaInicial.png');
    background-size: cover;
    scroll-margin-top: 80px;
    justify-content: center;
    display: block;
}

#inicio::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgb(5, 6, 17), transparent 60%);
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, transparent 40%, rgb(5, 6, 17));
}

.d-sombra-centro{
    position: absolute;
    inset: 0;
    z-index: 1;
}

/* sombra da esquerda */
.sombra-left{
    position: absolute;
    
    left: 0%;

    width: 50%;
    height: 100%;

    background: radial-gradient(
    circle at left,
    transparent 40%,
    rgba(5, 6, 17, 0.828) 50%,
    rgba(5, 6, 17, 0.835) 10%
    );
}

/* sombra da direita */
.sombra-right{
    position: absolute;
    
    right: 0%;

    width: 50%;
    height: 100%;

    background: radial-gradient(
    circle at right,
    transparent 40%,
    rgba(5, 6, 17, 0.828) 50%,
    rgba(5, 6, 17, 0.835) 10%
    );
}

.d-titulo-inicio{
    position: relative;
    z-index: 1;
    justify-content: center;
    display: flex;
}

.titulo-inicio{
    position: relative;
    z-index: 2;
    height: 300px;
    width: 600px;
}

.descricao-inicio{
    position: relative;
    z-index: 2;
    text-align:center;
}

.espacamento{
    margin-bottom: 50px;
}



.d-btn-explorar{
    z-index: 1;
    position: relative;
    width: 250px;
    margin: 20px;
    background:linear-gradient(
    to bottom,
    #792e03,
    #502701ec, 
    #491c01  
  );
    border: var(--cor-principal-borda) 1.5px solid;

    border-radius: 20px;
}

#btn-explorar{
    width: 200px;
    font-size: 25px;
    border: none;
    font-family: var(--fonte-principal-texto-destaque);
    letter-spacing: 4px;
    background: linear-gradient(
    to bottom,
    #f7ff05,
    #dfac05ec, 
    #e6bc03,  
    #e9fa00  
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.card{
    transition: 0.3s;
}

.card:hover{
    transform: scale(1.05);
}

.div-card{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;         
    width: 100%;
}

.card-img{
    width: 98.5%;
    margin: 2px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 60%;
    position: relative;
}

#regioes{
    position: relative;
    z-index: 1;
    background-color: rgb(5, 6, 17);
    scroll-margin-top: 60px;
    padding-top: 30px;
    padding-bottom: 80px;
    margin-bottom: 25px;
    margin-top: -10px;
    border-radius: 15px;

    flex-direction: column;
    align-items: center;    
    justify-content: center;
    display: flex;

    box-shadow: 0 15px 10px 2px rgb(5, 6, 17);
}

.card-regiao {
    background-color: #0c0d14f1;
    width: 350px;
    height: 450px;
    color: var(--cor-texto-primario);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; 

    margin-top: 30px;
    margin-right: 15px;
    margin-left: 15px;

    border-radius: 10px;
    border: 1px solid var(--cor-principal-borda);
}

.d-titulo-regioes{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 40px;
    padding-bottom: 30px;
}

.titulo-regioes{
    font-size: 30px;
    font-family: var(--fonte-principal-texto-destaque);
    letter-spacing: 2px;
    color: var(--cor-principal-texto-destaque);
   
}

.right-titulo-regioes,
.left-titulo-regioes{
    margin-top: 0px;
    height: 40px;
    width: 150px;
    margin-right: 20px;
}
.right-titulo-regioes{
    margin-top: 0px;
    margin-left: 20px;
    height: 40px;
    width: 150px;
    rotate: 180deg;
}

.h1-card-regiao{
    font-family: var(--fonte-principal-texto-destaque);
    font-size: 25px;
    color: var(--cor-principal-texto-destaque);
    position: absolute;
    bottom: 0;   
    text-align: justify;                
    margin: 0;
}

.descricao-regiao{
    text-align: justify;
}

/* Porto De Luméria */

.card-img-porto-lumeria{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background-image:url(./Assets/img/portoDeLumeria.jpeg);
    background-size: cover;
    justify-content: center;
}

.card-img-porto-lumeria::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, #0c0d14 1%, #0c0d14fa 5%, transparent 20%);
}

.card-img-porto-lumeria::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, transparent 90%, #0c0d14ce 100%, #0c0d14c2 30%);
}

/* Montanhas Gélidas */

.card-img-montanhas-gelidas{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background-image:url(./Assets/img/montanhasGelidas.jpeg);
    background-size: cover;
    justify-content: center;
}

.card-img-montanhas-gelidas::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, #0c0d14 1%, #0c0d14fa 5%, transparent 20%);
}

.card-img-montanhas-gelidas::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, transparent 90%, #0c0d14ce 100%, #0c0d14c2 30%);
}

/* Floresta Carmesim */

.card-img-floresta-carmesim{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background-image:url(./Assets/img/florestaCarmesim.jpeg);
    background-size: cover;
    justify-content: center;
}

.card-img-floresta-carmesim::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, #0c0d14 1%, #0c0d14fa 5%, transparent 20%);
}

.card-img-floresta-carmesim::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, transparent 90%, #0c0d14ce 100%, #0c0d14c2 30%);
}

/* Pantano Das Maldições */

.card-img-pantano-maldicoes{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background-image:url(./Assets/img/pantanoDasMaldicoes.jpeg);
    background-size: cover;
    justify-content: center;
}

.card-img-pantano-maldicoes::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, #0c0d14 1%, #0c0d14fa 5%, transparent 20%);
}

.card-img-pantano-maldicoes::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, transparent 90%, #0c0d14ce 100%, #0c0d14c2 30%);
}

/* Deserto Dos Reis Esquecidos */

.card-img-deserto-reis-esquecidos{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background-image:url(./Assets/img/desertoDosReisEsquecidos.jpeg);
    background-size: cover;
    justify-content: center;
}

.card-img-deserto-reis-esquecidos::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, #0c0d14 1%, #0c0d14fa 5%, transparent 20%);
}

.card-img-deserto-reis-esquecidos::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, transparent 90%, #0c0d14ce 100%, #0c0d14c2 30%);
}

/* Picos Da Ruína Celestial */

.card-img-picos-ruina-celestial{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background-image:url(./Assets/img/picosDaRuinaCelestial.jpeg);
    background-size: cover;
    justify-content: center;
}

.card-img-picos-ruina-celestial::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, #0c0d14 1%, #0c0d14fa 5%, transparent 20%);
}

.card-img-picos-ruina-celestial::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, transparent 90%, #0c0d14ce 100%, #0c0d14c2 30%);
}

.descricao-regiao{
    color: var(--cor-texto-secundario);
    font-size: 15px;
    text-align: center;
    padding: 10px;
}

.btn-regiao{
    height: 40px;
    width: 150px;
    margin-bottom: 25px;
    border: 1px solid var(--cor-principal-borda);
}
.btn-regiao:hover {
    border: 1px solid var(--cor-principal-borda);     
    color: var(--cor-texto-primario);
    background-color: rgba(196, 168, 48, 0.1);
}
.btn-regiao-texto{
    font-family: var(--fonte-principal-texto-destaque);
    color : var(--cor-secundaria-texto-destaque);
}

#monstros{
    background-color: var(--cor-secundaria-fundo);
    scroll-margin-top: 80px;
    padding-top: 30px;
    padding-bottom: 80px;
    margin-bottom: 10px;
    border-top: 8px solid #dfe796c9;
    border-radius: 15px;

    justify-content: center;
    align-items: center;
    display: flex;

    box-shadow: 0 8px 10px -10px #dfe796a1;
}

.d-titulo-monstros{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 40px;
    padding-bottom: 30px;
}

.titulo-monstros{
    font-size: 30px;
    font-family: var(--fonte-principal-texto-destaque);
    letter-spacing: 2px;
    color: var(--cor-principal-texto-destaque);
   
}

.left-titulo-monstros{
    margin-top: 0px;
    height: 40px;
    width: 150px;
    margin-right: 20px;
}

.right-titulo-monstros{
    margin-top: 0px;
    margin-left: 20px;
    height: 40px;
    width: 150px;
    
    rotate: 180deg;
}

.card-monstro{
    background-color: var(--cor-card-backgroud);
    width: 350px;
    height: 450px;
    color: var(--cor-texto-primario);

    display: flex;
    justify-content: flex-end;

    margin-top: 30px;
    margin-right: 15px;
    margin-left: 15px;

    border-radius: 10px;
    border: 1px solid var(--cor-principal-borda);
}


#sobre{
    background-color: var(--cor-secundaria-fundo);
    scroll-margin-top: 80px;
    padding-top: 30px;
    padding-bottom: 80px;
    margin-bottom: 10px; 
    display: flex;
}

.alinhamento {
    justify-content: center;
    align-items: center; 
    width: 100%;
    min-height: 50vh; 
}

.d-sobre{
    margin: 10px;
    padding: 10px;
}

.d-titulo-sobre{
    padding-top: 20px;
    align-items: center;
}

.titulo-sobre{
    font-size: 50px;
    font-family: var(--fonte-principal-texto-destaque);
    letter-spacing: 2px;
    color: var(--cor-principal-texto-destaque);
    text-align: center;
}

.left-titulo-sobre,
.right-titulo-sobre {
    height: 30px;
    width: 120px;
    rotate: 90deg;
    margin: 0 -45px; 
    margin-left: 1px;
    margin-right: 1px;
}

.descricao-sobre{
    margin-top: 20px;
    text-align: justify;
}

.d-integrantes{
    margin: 10px;
    padding: 10px;

    justify-content: center;
    align-items: center;
    display: flex;
}

.card-integrante {
    width: 250px;
    height: 200px;
    color: var(--cor-texto-primario);
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; 

    margin: 15px; 
    flex-shrink: 0;
}

.lucas{
    background-image:url();

}
.gustavo{
    background-image:url();

}
.henry{
    background-image:url();

}

.card-nome{
    height: 30%;
    width: 100%;
    background-color: var(--cor-card-backgroud);
    border-radius: 10px;
    border: 1px solid var(--cor-principal-borda);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; 
}

.nome-integrante{
    font-size: 25px;
    font-family: var(--fonte-principal-texto-destaque);
    letter-spacing: 2px;
}
.integrante-funcao{
    font-size: 10px;
    font-family: var(--fonte-principal-texto-destaque);
    letter-spacing: 2px;
}


footer{
    background-color: var(--cor-principal-fundo);
    padding-top: 15px;
    padding-bottom: 20px;
    margin-top: 20px;
    border-top: 3px solid #9ea371c9;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}