header{
    margin-bottom: 100px;
}
.m-nav-itens{
    margin-left: 30px;
    margin-right: 30px;
}

.nav-logo{
    height: 40px;
    width: 120px;
    margin: 0;
}

.d-titulo-inicio{
    justify-content: center;
    display: flex;
}

.titulo-inicio{
    height: 300px;
    width: 600px;
}

.descricao-inicio{
    text-align:center;
}

.espacamento{
    margin: 80px;
}
